<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
	<head>
		<meta charset="UTF-8">
		<title>index</title>
		
		<th:block layout:fragment="css">
			<link rel="stylesheet" th:href="@{/css/login.css}">
		</th:block>
		
		<th:block layout:fragment="script">
			<script>
				//로그인 시 아이디나 비밀번호가 틀렸을 경우를 대비하여 폼을 서브밋 하지 않고
				//후 처리를 위해 ajax로 처리
				$(function() {
					$("#loginForm").on("keydown", function(e) {
						if(e.keyCode == 13) {
							$("#btnLogin").click();
						}						
					});
					
					$("#btnLogin").on("click", function() {
						$.ajax({
							url: '/user/login',
							type: 'post',
							data: $("#loginForm").serialize(),
							success: function(obj) {
								//1. 아이디 체크
								if(obj === 'idFail') {
									alert("존재하지 않는 아이디입니다.");
									return;
								} else if(obj === 'pwFail') {
								//2. 비밀번호 체크
									alert("비밀번호가 틀렸습니다.");
									return;
								}
								//3. 로그인 처리
								location.href = "/";
							},
							error: function(e) {
								console.log(e);
							}
						});
					});
				});
			</script>
		</th:block>
		
	</head>
	<body>
		<header></header>
		<div layout:fragment="content" class="form-wrapper">
		
		  <div class="content">
          <form id="loginForm" method="post">
              <h3>로그인</h3>
                  <p>정보 입력</p>
                      <div class="form-login1">
                          아이디<input type="text" id="userId" name="userId" class="form-login2" required><br>
                          비밀번호<input type="password" id="userPw" name="userPw" class="form-login2" required><br><br>
                              <div class="login-submit">
                                <!--버튼 서브밋으로 수정-->
                                <button class="log_button" id="btnLogin" type="button" >로그인</button>
                              </div>
                            
                                  <div class="login-btn">
                                      <a href="main_join.html" >회원가입</a>
                                      <a href="#">비밀번호 찾기</a>
                                  </div>
                         
                      </div>
         </form>
      	 </div>
		
		</div>
		<footer></footer>
	</body>
</html>