<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  
	  <head th:fragment="config">
	  	<title>thymeleaf layout</title>
	  	
	  	<!-- 부트스트랩 적용-->
	  	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	  	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	  	
	  	<!-- 공통으로 사용되는 css -->
	  	<link rel="stylesheet" th:href="@{/css/main.css}">
	  	
	  	<!-- 페이지별로 사용되는 css -->
	  	<th:block layout:fragment="css"></th:block>
	  	
	  	<!-- 공통으로 사용되는 js -->
	  	<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
	  	
	  	<!-- 페이지별로 사용되는 script -->
	  	<th:block layout:fragment="script"></th:block>
	  </head>
	  
	  
	 
    
</html>