<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
	<head>
		<meta charset="UTF-8">
		<title>게시글</title>
		
		<th:block layout:fragment="css">
			<link rel="stylesheet" th:href="@{/css/content.css}">
		</th:block>
		
	  	<th:block layout:fragment="script">
	  		<script src="/js/content.js"></script>
	  		<script th:inline="javascript">
	  			$(function() {
		  			/*<[CDATA[*/
		  			const content = /*[[${content}]]*/;
		  			/*]]>*/
		  			
		  			const data = JSON.parse(content);
		  			
		  			console.log(content);
		  			
		  			
		  			$("#movieNm").text(data.movieNm);
					
					/*	
		  			for(let i =0; i < data.actors.length; i++) {
						actors += data.actors[i].peopleNm + ', ';
					}
		  			$("#actors").text(actors);
		  			*/
		  			
		  			
	  			});
	  		</script>
	  		<!-- 네이버 api는 화면단에서 곧바로 요청할 수 없다. 
	  		<script>
		  	$(function(){
				$.ajax({
						method: "GET",
						url: "https://openapi.naver.com/v1/search/movie.json",
						headers:  {	"X-Naver-Client-Id": "B2rwTIEml6zR5U92Oulb",
								   	"X-Naver-Client-Secret": "TQbMkXENaW"},
						contentType: "application/json; charset=utf-8",                  
		                data: JSON.parse(JSON.stringify({query: "마녀"})),
		                dataType: 'json',
						success: function(response) {
							console.log(JSON.stringify(response));
						},
						error: (xhr, e) => {console.log(e);
						console.log(xhr)}
				});
			});
	  		</script>
	  		-->
	  	
	  	</th:block>

	</head>
	<body>
		<header></header>
		<div layout:fragment="content">
			
		<div id="home" class="big-bg">
		<header class="movie-title">
        <!-- 마이 리스트에 추가 아이콘(하트) -->
        <img src="/images/icon_white_heart.png" width="40px" alt="하트" id="heart">
        <!--작품 제목-->
        <h1 id="movieNm"></h1>
	    </header>
	    <div class="firstSection">
	        <!--기본정보-->
	        <div class="info">
	            <div class="container">
	                <!-- 탭 메뉴 제목-->
	                    <ul class="tabs">
	                        <li class="tab-link current" data-tab="tab-1">기본정보</li>
	                        <li class="tab-link" data-tab="tab-2">감독/출연</li>
	                        <li class="tab-link" data-tab="tab-3">줄거리</li>
	                        <li class="tab-link" data-tab="tab-4">추천작품</li>
	                    </ul>
	                <!-- 탭 메뉴 내용-->
	                    <div id="tab-1" class="tab-content current">
	                    <!--탭 메뉴 내용1-->
	                        <table>
	                            <tr>
	                                <th>개봉</th>
	                                <td ></td>
	                            </tr>
	                            <tr>
	                                <th>등급</th>
	                                <td>
	                                	dd
	                                </td>
	                            </tr>
	                            <tr>
	                                <th>장르</th>
	                                <td>드라마</td>
	                            </tr>
	                            <tr>
	                                <th>국가</th>
	                                <td>한국</td>
	                            </tr>
	                            <tr>
	                                <th>등급</th>
	                                <td>15세 관람가</td>
	                            </tr>
	                            <tr>
	                                <th>러닝타임</th>
	                                <td>131분</td>
	                            </tr>
	                            <tr>
	                                <th>배급</th>
	                                <td>CJ ENM</td>
	                            </tr>
	                        </table>
	                    </div>
	                    <div id="tab-2" class="tab-content">
	                        <!--탭 메뉴 내용2-->
	                        <ul>
	                            <li>감독</li>
	                            <li>
	                                <img src="/images/movie/person.png">
	                            </li>
	                            <li>주연</li>
	                            <li>
	                                <img src="/images/movie/person.png">
	                                <img src="/images/movie/person.png">
	                                <img src="/images/movie/person.png">
	                            </li>
	                            <li>조연</li>
	                            <li>
	                                <img src="/images/movie/person.png">
	                                <img src="/images/movie/person.png">
	                                <img src="/images/movie/person.png">
	                            </li>
	                            <li>단역</li>
	                            <li>
	                                <img src="/images/movie/person.png">
	                                <img src="/images/movie/person.png">
	                                <img src="/images/movie/person.png">
	                            </li>
	                            <li>특별출연</li>
	                            <li>
	                                <img src="/images/movie/person.png">
	                                <img src="/images/movie/person.png">
	                                <img src="/images/movie/person.png">
	                            </li>
	                        </ul>
	                    </div>
	
	                    <div id="tab-3" class="tab-content">
	                        <!--탭 메뉴 내용3-->
	                        <p>대한민국은 국제평화의 유지에 노력하고 침략적 전쟁을 부인한다. 국군의 조직과 편성은 법률로 정한다. 타인의 범죄행위로 인하여 생명·신체에 대한 피해를 받은 국민은 법률이 정하는 바에 의하여 국가로부터 구조를 받을 수 있다. 모든 국민은 법률이 정하는 바에 의하여 공무담임권을 가진다. 모든 국민은 소급입법에 의하여 참정권의 제한을 받거나 재산권을 박탈당하지 아니한다.</p>
	                        <p>대한민국은 국제평화의 유지에 노력하고 침략적 전쟁을 부인한다. 국군의 조직과 편성은 법률로 정한다. 타인의 범죄행위로 인하여 생명·신체에 대한 피해를 받은 국민은 법률이 정하는 바에 의하여 국가로부터 구조를 받을 수 있다. 모든 국민은 법률이 정하는 바에 의하여 공무담임권을 가진다. 모든 국민은 소급입법에 의하여 참정권의 제한을 받거나 재산권을 박탈당하지 아니한다.</p>
	                        <p>대한민국은 국제평화의 유지에 노력하고 침략적 전쟁을 부인한다. 국군의 조직과 편성은 법률로 정한다. 타인의 범죄행위로 인하여 생명·신체에 대한 피해를 받은 국민은 법률이 정하는 바에 의하여 국가로부터 구조를 받을 수 있다. 모든 국민은 법률이 정하는 바에 의하여 공무담임권을 가진다. 모든 국민은 소급입법에 의하여 참정권의 제한을 받거나 재산권을 박탈당하지 아니한다.</p>
	                        <br>
	                        <p>대한민국은 국제평화의 유지에 노력하고 침략적 전쟁을 부인한다. 국군의 조직과 편성은 법률로 정한다. 타인의 범죄행위로 인하여 생명·신체에 대한 피해를 받은 국민은 법률이 정하는 바에 의하여 국가로부터 구조를 받을 수 있다. 모든 국민은 법률이 정하는 바에 의하여 공무담임권을 가진다. 모든 국민은 소급입법에 의하여 참정권의 제한을 받거나 재산권을 박탈당하지 아니한다.</p>    
	                    </div>
	
	                    <div id="tab-4" class="tab-content">
	                        <!--탭 메뉴 내용4-->
	                        <p>대한민국은 국제평화의 유지에 노력하고 침략적 전쟁을 부인한다. 국군의 조직과 편성은 법률로 정한다. 타인의 범죄행위로 인하여 생명·신체에 대한 피해를 받은 국민은 법률이 정하는 바에 의하여 국가로부터 구조를 받을 수 있다. 모든 국민은 법률이 정하는 바에 의하여 공무담임권을 가진다. 모든 국민은 소급입법에 의하여 참정권의 제한을 받거나 재산권을 박탈당하지 아니한다.</p>
	                        <p>대한민국은 국제평화의 유지에 노력하고 침략적 전쟁을 부인한다. 국군의 조직과 편성은 법률로 정한다. 타인의 범죄행위로 인하여 생명·신체에 대한 피해를 받은 국민은 법률이 정하는 바에 의하여 국가로부터 구조를 받을 수 있다. 모든 국민은 법률이 정하는 바에 의하여 공무담임권을 가진다. 모든 국민은 소급입법에 의하여 참정권의 제한을 받거나 재산권을 박탈당하지 아니한다.</p>
	                        <br>
	                        <p>대한민국은 국제평화의 유지에 노력하고 침략적 전쟁을 부인한다. 국군의 조직과 편성은 법률로 정한다. 타인의 범죄행위로 인하여 생명·신체에 대한 피해를 받은 국민은 법률이 정하는 바에 의하여 국가로부터 구조를 받을 수 있다. 모든 국민은 법률이 정하는 바에 의하여 공무담임권을 가진다. 모든 국민은 소급입법에 의하여 참정권의 제한을 받거나 재산권을 박탈당하지 아니한다.</p>
	                    </div>
	                    <!-- 탭 메뉴 내용 끝 -->
	                </div>
	            </div> <!--info의 끝-->
	    </div><!--firstSection의 끝-->
		</div><!--#home의 끝-->
	
	    <!--보러가기-->
	    <div class="watch">
	        <h2>보러가기</h2> 
	        <a href="#" class="reverse" type="button">예매하기</a>
	    </div>
	    <section class="go-and-watch">
	          
	        <div class="logos">
	            <a class="n" href="https://www.netflix.com" type="button">Netflix</a>
	            <a class="w" href="https://www.wavve.com" type="button">Wavve</a>
	            <a class="d" href="https://www.disneyplus.com" type="button">Disney+</a>
	            <a class="w2" href="https://www.watcha.com" type="button">Watcha</a>
	            <a class="t" href="https://www.tving.com" type="button">Tving</a>
	            <a class="c" href="https://www.coupangplay.com" type="button">Coupang</a>
	            <a class="A" href="https://tv.apple.com" type="button">Apple</a>
	        </div>
	    </section>    
	    
	    <!--관련영상-->
	    <div class="secondSection">
	        <h2>관련 영상</h2>
	        <div class="relevant-video">
	            <div class="section">
	                <input type="radio" name="slide" id="slide01" checked>
	                <input type="radio" name="slide" id="slide02">
	                <input type="radio" name="slide" id="slide03">
	                <div class="slidewrap">
	                    <ul class="slidelist">
	                        <!-- 슬라이드 영역 -->
	                        <li class="slideitem">
	                            <a>
	                                
	                                <div class="devide" >
	                                    <iframe width="98%" height="350" src="https://www.youtube.com/embed/3YKaUCy4SQQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	                                    <iframe width="98%" height="350" src="https://www.youtube.com/embed/IBaPnC1SY28" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	                                    <iframe width="98%" height="350" src="https://www.youtube.com/embed/jhF5zIGJsXs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	                                </div>
	                            </a>
	                        </li>
	                        <li class="slideitem">
	                            <a>
	                                
	                                <div class="devide">
	                                    <iframe width="98%" height="350" src="https://www.youtube.com/embed/5ePa9gbDmE8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	                                    <iframe width="98%" height="350" src="https://www.youtube.com/embed/VMZ3OocuXqM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	                                    <iframe width="98%" height="350" src="https://www.youtube.com/embed/7OhLrP7NKAM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	                                </div>
	                            </a>
	                        </li>
	                        <li class="slideitem">
	                            <a>
	                                
	                                <div class="devide" >
	                                    <iframe width="98%" height="350" src="https://www.youtube.com/embed/3YKaUCy4SQQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	                                    <iframe width="98%" height="350" src="https://www.youtube.com/embed/IBaPnC1SY28" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	                                    <iframe width="98%" height="350" src="https://www.youtube.com/embed/jhF5zIGJsXs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	                                </div>
	                            </a>
	                        </li> <!--슬라이드의 끝-->
	            
	                        <!-- 좌,우 슬라이드 버튼 -->
	                        <div class="slide-control">
	                            <div>
	                                <label for="slide03" class="left"></label>
	                                <label for="slide02" class="right"></label>
	                            </div>
	                            <div>
	                                <label for="slide01" class="left"></label>
	                                <label for="slide03" class="right"></label>
	                            </div>
	                            <div>
	                                <label for="slide02" class="left"></label>
	                                <label for="slide01" class="right"></label>
	                            </div>
	                        </div>
	            
	                    </ul> <!--slidelist의 끝-->
	
	                    <!-- 페이징 -->
	                    <ul class="slide-pagelist">
	                        <li><label for="slide01"></label></li>
	                        <li><label for="slide02"></label></li>
	                        <li><label for="slide03"></label></li>
	                    </ul>
	                </div>
	            </div> 
	        </div>
	    </div>
	
	    <!--별점리뷰 영역-->
	    <div class="thirdSection">
	        <h2>별점 & 리뷰</h2>
	        <div class="rating-review">
	            <!--상단-나의 별점 및 리뷰글 등록하기-->
	            <div class="write-rating-review">
	                <table>
	                    <tr>
	                        <th>
	                        
	                            <img src="/images/user_profile.png" width="180px" height="180px" alt="사용자 프로필 사진">
	                            <p>김비트 님</p>
	                            <!--별점 매기기-->
	                            <div class="rating-star">
	                                <span class="starR1 on">별1_왼쪽</span>
	                                <span class="starR2">별1_오른쪽</span>
	                                <span class="starR1">별2_왼쪽</span>
	                                <span class="starR2">별2_오른쪽</span>
	                                <span class="starR1">별3_왼쪽</span>
	                                <span class="starR2">별3_오른쪽</span>
	                                <span class="starR1">별4_왼쪽</span>
	                                <span class="starR2">별4_오른쪽</span>
	                                <span class="starR1">별5_왼쪽</span>
	                                <span class="starR2">별5_오른쪽</span>
	                            </div>
	                        </th>
	                        <td>
	                            <!--나의 리뷰 작성 섹션-->
	                            <form action="#" method="post">
	                                <div>
	                                    <label for="my-review">나의 리뷰</label>
	                                    <textarea id="my-review" name="my-review" placeholder="리뷰를 입력하세요."></textarea><br>
	                                </div>
	                                <button type="button" id="submit-button" class="btn btn-third">등록하기</button>
	                            </form>
	                        </td>
	                    </tr>
	                </table>
	            </div>
	
	            <!--하단-다른 사람들의 별점 및 리뷰글 읽기-->
	            <div class="read-rating-review">
	
	                <table>
	                    <tr class="rating-review-line">
	                        <th>
	                            <img src="/images/user_profile_1.png" width="180px" height="180px" alt="사용자 프로필 사진">
	                            <p>강비트 님</p>
	                            <div class="unchangeable-rating-star" id="user1" data-rate="3">
	                                <span class="starR1 on">별1_왼쪽</span>
	                                <span class="starR2">별1_오른쪽</span>
	                                <span class="starR1">별2_왼쪽</span>
	                                <span class="starR2">별2_오른쪽</span>
	                                <span class="starR1">별3_왼쪽</span>
	                                <span class="starR2">별3_오른쪽</span>
	                                <span class="starR1">별4_왼쪽</span>
	                                <span class="starR2">별4_오른쪽</span>
	                                <span class="starR1">별5_왼쪽</span>
	                                <span class="starR2">별5_오른쪽</span>
	                            </div>
	                        </th>
	                        <td>
	                            <div>
	                            모든 국민은 신체의 자유를 가진다. 누구든지 법률에 의하지 아니하고는 체포ㆍ구속ㆍ압수ㆍ수색 또는 심문을 받지 아니하며, 법률과 적법한 절차에 의하지 아니하고는 처벌ㆍ보안처분 또는 강제노역을 받지 아니한다.
	                            모든 국민은 고문을 받지 아니하며, 형사상 자기에게 불리한 진술을 강요당하지 아니한다.
	                            체포ㆍ구속ㆍ압수 또는 수색을 할 때에는 적법한 절차에 따라 검사의 신청에 의하여 법관이 발부한 영장을 제시하여야 한다. 다만, 현행범인인 경우와 장기 3년 이상의 형에 해당하는 죄를 범하고 도피 또는 증거인멸의 염려가 있을 때에는 사후에 영장을 청구할 수 있다.
	                            누구든지 체포 또는 구속을 당한 때에는 즉시 변호인의 조력을 받을 권리를 가진다. 다만, 형사피고인이 스스로 변호인을 구할 수 없을 때에는 법률이 정하는 바에 의하여 국가가 변호인을 붙인다.
	                            누구든지 체포 또는 구속의 이유와 변호인의 조력을 받을 권리가 있음을 고지받지 아니하고는 체포 또는 구속을 당하지 아니한다. 체포 또는 구속을 당한 자의 가족등 법률이 정하는 자에게는 그 이유와 일시ㆍ장소가 지체없이 통지되어야 한다.
	                            누구든지 체포 또는 구속을 당한 때에는 적부의 심사를 법원에 청구할 권리를 가진다.
	                            피고인의 자백이 고문ㆍ폭행ㆍ협박ㆍ구속의 부당한 장기화 또는 기망 기타의 방법에 의하여 자의로 진술된 것이 아니라고 인정될 때 또는 정식재판에 있어서 피고인의 자백이 그에게 불리한 유일한 증거일 때에는 이를 유죄의 증거로 삼거나 이를 이유로 처벌할 수 없다.
	                            </div>
	                            
	                            <div>
	                            	<button type="button" id="update-button" class="btn btn-danger">수정하기</button>
	                            	<button type="button" id="delete-button" class="btn btn-danger">삭제하기</button>
	                            </div>
	                            
	                            
	                        </td>
	                    </tr>
	                </table>
	            </div>
	        </div> <!--별점리뷰섹션의 끝-->
	        
	        <section>
	            <!--sa, 스크롤 애니메이션-->
	            <div class="sa sa-up" id="red-chairs" ></div>
	        </section>
	    </div>
			
			
			
			
		
		</div>
		<footer></footer>
		
	</body>
</html>